@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: antiquewhite;
  overflow-x: hidden;
  background-color: #000000;
  background-image:radial-gradient(circle at 20% 30%, rgba(251, 89, 189, 0.25), transparent 40%),
                  radial-gradient(circle at 80% 25%, rgba(18, 121, 129, 0.288), transparent 50%),
                  radial-gradient(circle at 50% 80%, rgba(82, 230, 82, 0.2), transparent 40%);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  animation: animateBlobBg 4s infinite ease-in-out;
}

.container{
  width: 500px;
  text-align: center;
  height: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  animation-name: slideMsg;
  animation-duration: 1.7s;
  animation-delay: 0s;
}

.glow-text {
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 2.5rem;
  text-align: center;
  text-shadow:
    0 0 10px #ff6ec7,
    0 0 20px #00f0ff,
    0 0 30px #7eff7e,
    0 0 40px #ff6ec7;
}

p{
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.buttons{
  margin: 5px;
}

button{
  margin: 5px;
  width: 4em;
  height: 2.6em;
  border: none;
  border-radius: 5px;
  font-family: cursive;
  transition: all 1s ease;
}

button:hover{
  box-shadow: 0 0 20px 8px rgba(193, 213, 193, 0.6);
  transform: scale(1);
}
@keyframes slideMsg {
  from{
    top: 0;
    opacity: 0;
  }

  to{
    top: 27.5%;
    opacity: 1;
  }
}

.start, .quit {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
    font-size: 0.9rem;
  }

  button {
    width: 5em;
    height: 2.5em;
  }
}

@keyframes animateBlobBg {
  0% {
    background-position: 0% 0%, 100% 0%, 50% 100%;
  }
  50% {
    background-position: 100% 100%, 0% 100%, 50% 0%;
  }
  100% {
    background-position: 0% 0%, 100% 0%, 50% 100%;
  }
}